* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

/* ============= Global Style =============*/
:root {
    --big-font: 4rem;
    --h2-font: 2rem;
    --main-color: #16a085;
    --text-color: #fff;
    --bg1-color: #34495e;
    --bg2-color: #212f3d;
}
section {
    width: 100%;
    padding: 100px 12%;
    height: auto;
    background-color: var(--bg2-color);
}
.btn {
    text-align: center;
    margin: 0 25%;
    padding: 10px 25px;
    background-color: #e67e22;
    border: 2px solid #fff;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    transition: 0.7s;
}
.btn:hover {
    background-color: #212f3d;
    border: 2px solid #e67e22;
}
/* ============= Header Section =============*/
header {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: var(--bg1-color);
    color: var(--text-color);
    z-index: 1000;
    position: fixed;
}
span{
    font-size: 30px;
    font-weight: bold;
    color: #16a085;
    letter-spacing: 1px;
    cursor: pointer;
}
.navbar ul {
    list-style-type: none;
}
.navbar ul li {
    display: inline-block;
}
.navbar ul li a{
    text-decoration: none;
    padding: 15px;
    color: var(--text-color);
    font-weight: 600;
    text-transform: capitalize;
    line-height: 25px;
    transition: 0.5s;
}
.navbar ul li a:hover, #menu-icon i:hover {
    color: var(--main-color);
}
#menu-icon i {
    font-size: 35px;
    visibility: hidden;
}

/* ============= Home Section ============= */

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.text h1 {
    font-size: 50px;
    margin-bottom: 35px;
    display: block;
    color: var(--text-color);
}
.text p {
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 35px;
}
.food-img {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1.3rem;
}
.food-img img {
    width: 90%;
    border-radius: 30px;
    transition: 0.4s;
    
}
.food-img img:hover {
    box-shadow: 0  0 5px #fff , 0  0 10px #fff;
}

/* =========Category========== */
.box {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2rem;
    margin-bottom: 100px;
}
.box .card {
    background-color: var(--text-color);
    border-radius: 20px;
    transition: 0.6s;
}
.box .card i {
    font-size: 30px;
    background-color: #e67e22;
    padding: 10px;
    right: 0;
}
.box .card:hover {
    box-shadow: 0 0 10px #fff, 0 0 15px #fff;
}
.box .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0 ;
}
.card-text {
    padding: 10px 25px;
}
.card-text h4 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}
.card-text p {
    line-height: 1.5rem;
    margin-bottom: 25px;
}
.page {
    text-align: center;
}
.page ul {
    list-style-type: none;
}
.page ul a {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin: 5px;
    transition: 0.6s;
    border-radius: 10px;
}
.page ul a:hover:not(.active){
    background-color: #fff;
    color: #191919;
}
.page ul .active {
    background-color: #191919;
}

/* ==========About Section ==============*/
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;margin-bottom: 50px;
}
h4{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}
.about img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about-text h3 {
    font-size: 40px;
    color: #16a085;
    margin: 20px 0px;
}
.about-text h4 {
    font-style: italic;
}
.about-text p {
    color: #9b59b6;
}

/* ========Social Links+=========== */
.social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.social .social-img {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.social .social-img img {
    width: 50%;
    height: auto;
    margin: 0px 10px;
}
.social .links{
    display: flex;
    flex-direction: column;
    padding: 10%;
}
.social .links ul{
    list-style-type: none;
}
.social .links ul li .bx{
    font-size: 30px;
    background-color: #16a085;
    color: #fff;
    transition: 0.6s;
    padding: 5px;
}
.social .links ul li .bx:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}
.social .links ul li a{
    text-decoration: none;
    text-align: left;
    text-transform: capitalize;
    font-size: 30px;
    color: #fff;
    margin-left: 15px;
    transition: 0.6s;
}
.social .links ul li a:hover  {
    color: #e67e22;

}

